*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

:root{
    --color-first:#2b2d42;
    --color-second:#184e77;
    --color-third:#22223b;
    --color-text:#ccd5ae;

}

body{
    background-color: var(--color-first);
    background-image: url("../assets/jay.jpg");
}
.search-box{
 width: 100vw;
 height: fit-content;
 padding-top: 30px;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.form-control{
    width: 25vw;
}

#submit-button{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-first);
    border-radius: 8px;
    color: var(--color-text);
    opacity: .9;

}

#submit-button:hover{
    opacity: 1;
    transition: all 1s ease;
}

.hide{
    display: none !important;
}

.cards{
    display: flex;
    border: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    background-color: var(--color-first);
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 5);
    outline-offset: -4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    position: relative;
    overflow: hidden; 
    align-items: center;
    opacity: .9;
}

.card:hover{
    opacity: 1;
    transition: all 1s ease;
}

.card>p{
    display: inline-block;
    margin: 20px;
    padding: 2px;
    color: var(--color-text);
    align-items: center;
    
}
