*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

:root{
    --color-first:#2b2d42;
    --color-second:#184e77;
    --color-third:#22223b;
    --color-text:#ccd5ae;

}

body{
    background-color: var(--color-first);
    background-image: url("../assets/jay.jpg");
}
.search{
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


#submit-button{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-first);
    border-radius: 8px;
    color: var(--color-text);

}

.cards{
    display: flex;
    border: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.card{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    background-color: var(--color-first);
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 5);
    outline-offset: -4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    position: relative;
    overflow: hidden; 
    align-items: center;
}

.card>p{
    display: inline-block;
    padding: 2px;
    color: var(--color-text);
    align-items: center;
    
}