*{
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    font-size: 25px;
}

:root{
    --color-first:#2b2d42;
    --color-second:#184e77;
    --color-third:#22223b;
    --color-text:#ccd5ae;

}

body{
    background-color: var(--color-first);
    background-image: url("../assets/jay.jpg");
}
.search-box{
 width: 100vw;
 height: fit-content;
 padding-top: 30px;
 display: flex;
 flex-direction: row;
 justify-content: space-evenly;
}

.form-control{
    width: 25vw;
}

#submit-button{
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-first);
    border-radius: 8px;
    color: var(--color-text);
    opacity: .9;

}

#submit-button:hover{
    opacity: 1;
    transition: all 1s ease;
}

.hide{
    display: none !important;
}

.cards{
    display: flex;
    border: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.card{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 445px;
    background-color: var(--color-first);
    border-radius: 10px;
    outline: 1px solid rgba(255, 255, 255, 5);
    outline-offset: -4px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
    position: relative;
    overflow: hidden;
    align-items: center;
    opacity: .9;
}

.card>img{
    width: 100%;
    height: 40%;
    border-radius: 3px;
}

.card:hover{
    opacity: 1;
    transition: all 1s ease;
}

.data-wrapper{
    width: 100%;
    height: 100%;
}

#name{
    position: relative;
    top: -17px;
    background-color: var(--color-third);
    border-radius: 5px;
    padding-right: 15px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#name,#temp_c,#temp_f,#humidity,#weather-condition{
    color: var(--color-text);
    width: 50%;
    margin: 0 auto;
}

#weather-condition{
    color: var(--color-text);
    margin-top: 20px;
    text-transform: uppercase;
}

#temp_c,#temp_f,#humidity{
    margin-top: 8px;
    color: var(--color-text);
}

#name::before{
    margin-left: 0.5rem;
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
    content: "\f64f"; /* f2c7 */
}

#temp_c::before,#temp_f::before{
    margin-left: 0.5rem;
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
    content: "\f2c7";
}

#humidity::before{
    margin-left: 0.5rem;
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
    content: "\f043";
}

